*,
*::before,
*::after {
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg0: #111;
    --bg1: #242424;
    --fg0: #ffffff;
    --primary-accent: #89b4fa;
    --secondary-accent: #a6e3a1;
    --tertiary-accent: #fab387;

    --border-radius: 3px;
    --button-radius: 6px;
    --event-radius: 8px;
}

:root.light {
    --bg0: #eff1f5;
    --bg1: #dce0e8;
    --fg0: #4c4f69;
    --primary-accent: #1e66f5;
    --secondary-accent: #40a02b;
    --tertiary-accent: #fe640b;
}

body {
    margin: 0;
    background-color: var(--bg0);
    color: var(--fg0);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 24px;
}

a {
    color: var(--primary-accent);
}

a,
.button {
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

.button {
    background-color: var(--primary-accent);
    color: var(--bg0);
    border: 1px solid var(--primary-accent);
    padding: 0.55em 0.9rem;
    font-size: 1rem;
    border-radius: var(--button-radius);
    cursor: pointer;
    display: inline-block;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        left: 0;
        top: 73px;
        height: 100vh;
        width: 100%;
        background-color: var(--bg0);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    ul {
        width: 100%;
    }

    nav.open {
        transform: translateX(0);
    }

    #hamburger {
        display: block;
    }
}